*{
    display:flex;
}

html{
    height:100%;
}

body{
    display:flex;
    flex-direction: column;
    flex:1;
    height: 100%;
    background-color: black;
}
#title{
    color:white;    
}

.sides{
    flex:1;
    display:flex;
    justify-content: center;
}
.mainBox{
    flex:2;
    display:flex;
    justify-content: center;
}

#mainSquare{
    flex: 0 0 12cm;
    min-height:12cm;
    background-color: white;
    display:flex;
    flex-direction: column;
}

#gridSizer{
    align-self: center;
    font-weight: bold;
    flex: 0 1 4cm;
    display: flex;
    height: 1cm;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 247, 71);
    border-radius: 10px;
}